In [9]:
# testing np nan check
a = np.array([1.0,2.0,3.0, "3", np.nan, ])
print(a)
print(a.dtype)
print(a[4].dtype)
a = np.where(type(a) == float, -1, a)
print(a)

['1.0' '2.0' '3.0' '3' 'nan']
<U32
<U3
['1.0' '2.0' '3.0' '3' 'nan']

In [1]:
# autocomplete setting 
%config IPCompleter.greedy=True

# print every line of code
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [35]:
# import libs and const vals
import pandas as pd
import numpy as np
import sys
import os

FOLDER_NAME = "tatanic"
PASSENGERID = 'PassengerId'
SURVIVED = 'Survived'
PCLASS = 'Pclass'
NAME = 'Name'
SEX = 'Sex'
AGE = 'Age'
SIBSP = 'SibSp'
PARCH = 'Parch'
TICKET = 'Ticket'
FARE = 'Fare'
CABIN = 'Cabin'
EMBARKED = 'Embarked'


CSV_COLUMNS = [
    PASSENGERID,
    SURVIVED,
    PCLASS,
    NAME,
    SEX,
    AGE,
    SIBSP,
    PARCH,
    TICKET,
    FARE,
    CABIN,
    EMBARKED,
]

In [3]:
# read dataset 

head, _ =  os.path.split(os.getcwd())
train_path = os.path.join(head, "data","titanic",  "train.csv")
test_path = os.path.join(head, "data","titanic",  "test.csv")

train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

dataset_df = pd.concat([train_df, test_df])
# reset df index 
dataset_df = dataset_df.reset_index(drop=True)

#save merged dataset
merge_set_path = os.path.join(head, "data","titanic",  "merge_set.csv")
dataset_df.to_csv(merge_set_path)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [4]:
# null count
dataset_df.isnull().sum()

# null count
# Age             263
# Cabin          1014
# Embarked          2
# Fare              1
dataset_df.info()
dataset_df.describe()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838
std,14.413493,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000

In [5]:
# fill null at 'Fare'
data = dataset_df['Fare'].fillna(dataset_df['Fare'].mean())
dataset_df['Fare'] = data

dataset_df['Fare'].isnull().sum()

0

In [6]:
# fill null value 'Embarked' 
data = dataset_df['Embarked']

data.unique()
data.isnull().sum()
data.value_counts()
data = data.fillna('S') 

data.unique()
data.isnull().sum()

dataset_df['Embarked'] = data

array(['S', 'C', 'Q', nan], dtype=object)

2

S    914
C    270
Q    123
Name: Embarked, dtype: int64

array(['S', 'C', 'Q'], dtype=object)

0

In [109]:
# fill null value at Age

for i in range(1, 30):
    data = dataset_df
    data = data[AGE].astype(int)
    
    data = data[data['Age'] == i][['Age', SURVIVED, SEX]]
    data = data.groupby(SEX).agg(['mean', 'count', 'sum'])
    print(i)
    data
# data.head()
# data = data.groupby(SEX).agg(['sum', 'mean'])


# data = data[data['Age'] < 10]
# data.mean()

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [8]:
# fill null value at cabbin
data = dataset_df['Cabin']
data.isnull().sum()

# data.unique()
# len(data.unique())

data = data[data.notnull()].str.split(" ", expand=True)

1014

In [56]:
# Ticket 

# %%time

# l = sorted(list(dataset_pd["Ticket"].unique()))
# dataset_df.groupby(["Ticket"])["Survived"].mean()
# train_df.groupby(["Ticket"])["Survived"].agg(['mean', 'count'])
# df = dataset_df.sort_values(["Ticket"])
# df[['Ticket', 'Name', 'Family_size', 'Age','Survived']].groupby(["Ticket"]).agg(['count', 'mean'])

# split ticket to head and and num part

def trans_ticket(df):
    part = df["Ticket"].str.split(" ")
    ticket_head = []
    ticket_num = []
    for item in part:
        if len(item) == 1:
            ticket_head.append("None")
            ticket_num.append(item[0])
        else:
            ticket_head.append(item[0])
            ticket_num.append(item[-1])
    ticket = pd.DataFrame(
         {"ticket_head":ticket_head,
          "ticket_num":ticket_num}
     )
    return ticket

ticket = trans_ticket(dataset_df)
data = pd.concat([dataset_df, ticket], axis=1 )
# data.head()
# data.groupby('ticket_num')['Survived', 'Age'].agg(['count', 'sum', 'mean'])
# data.groupby('ticket_head')['Survived',PASSENGERID].agg(['count', 'sum', 'mean'])

In [57]:
# add Family_size attr
dataset_df['Family_size'] =  dataset_df['SibSp'] + dataset_df['Parch'] + 1
# dataset_df.head()
# dataset_df.groupby(['Family_size','Sex'])['Survived'].agg(['mean', 'count'])

In [59]:
# Name

data = dataset_df['Name']
# data.str.split(" ")
# data.str.split("")

# split full_name and alias_name
data = data.str.split("(", expand=True)
full_name = data[0]
alias_name = data[1]

# alias_name has null value
# alias_name[alias_name.notnull()].count()

# mean of people who have alias_name 
# maybe predict Age
# dataset_df["Age"][alias_name.str.contains('"').notnull()].mean()

alias_name = alias_name.str.replace(")","")
alias_name = alias_name.str.replace('"',"")

# full_name.isnull().sum()
# full_name.str.contains('"').sum()

# '"' include in fullname people is young
# maybe predict Age
# dataset_df["Age"][full_name.str.contains('"')].mean()

# split full_name to fisrt honorific last
full_name = full_name.str.split(",", expand=True)
first_name = pd.Series(full_name[0]) 

full_name = full_name[1].str.split(".", expand=True)
Honorific = full_name[0]
last_name = full_name[1]

full_name = pd.DataFrame({
    "first_name":first_name,
    "Honorific":Honorific,
    "last_name": last_name
})
# full_name.head()


dataset_df["first_name"] = first_name
dataset_df['Honorific'] = Honorific
dataset_df["last_name"] = last_name



# data.groupby("Honorific")['Survived'].agg(["mean", "count", "sum"])
# Honorific.value_counts()

# dataset_df.groupby("Honorific")['Survived', 'Age'].agg(['min',"mean",'max', "count", "sum", 'std'])

In [ ]:
    train_df.groupby(['Pclass', 'Sex'])['Survived'].mean()

In [ ]:
df = dataset_df
df.columns
# add isFather

# add isMother

# add race

In [ ]:
#save merged dataset
merge_set_path = os.path.join(head, "data","titanic",  "merge_set.csv")
dataset_df.to_csv(merge_set_path)